.productCard{
    width: 300px;
    padding: 1rem;
    margin-bottom: 1rem;

    .productCard__contenedor{
        background-color: #ffffff;
        padding: 2rem 1rem;

        .product__info{
            border-top: 1px solid #f381a7;
            margin-top: 1rem;
            color: #f381a7;
            text-align: center;

            .product__price{
                font-size: 25px;
            }
        }
    }
}